.todo {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  min-width: 100px;
  max-width: 500px;
  border: solid 1px gray;
  border-radius: 8px;
}
.todo li {
  padding: 10px 10px;
  margin-right: 10px;
  list-style: none;
}
.compButton {
  background-color: gold;
  border-radius: 10px;
}

.notCompButton {
  background-color: gray;
  border-radius: 10px;
}
