.todo {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  min-width: 100px;
  justify-content: space-between;
}
.todo li {
  margin-right: 10px;
}
.compButton {
  background-color: gold;
  border-radius: 10px;
}

.notCompButton {
  background-color: gray;
  border-radius: 10px;
}
